header {
  background-color: rgb(45, 184, 75) !important;
}

#Navbar {
  height: 5rem;
  line-height: 5rem;
  align-content: center;
}

#rightNav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbarShadow {
  clear: both;
  height: 1px;
  box-shadow: 0px 2px 2px #444;
}

.grid {
  padding: 3rem 0px !important;
}

#languageSelector {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
}
